streamlit~=1.37.1
pandas~=2.2.2
numpy~=1.26.4
matplotlib~=3.9.1
seaborn~=0.13.2
scikit-learn~=1.5.1
joblib~=1.4.2
plotly~=5.24.1
fastapi~=0.115.8
uvicorn
mlflow~=2.20.2
xgboost~=2.1.3
imbalanced-learn
python-multipart
